@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@media(min-width:1280px){
.wrapper{
    width: 1440px;
    height: 6575px;
    background: #FFFFFF;
}
.main{
    
    display: flex;
    flex-direction: row;
    margin-left: 84px;
    flex-wrap: wrap;
    margin-top: -20px;
    
}

h1{
    margin-left: 121px;
    width: 905px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    
}
.shadow{
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px
     rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    
}
.img1{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq1{
    margin-top: 11px;
    margin-left: 20px; 
    width: 365px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.metn1{
    margin-left: 19px;
    margin-top: 32px;
    width: 365px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}

.shadow2{
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    
}
.change{
    margin-right: 37px;
    margin-top: 41px;
    
}
.img2{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq2{
    margin-top: 11px;
    margin-left: 20px; 
    width: 365px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.metn2{
    margin-left: 19px;
    margin-top: 32px;
    width: 365px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.shadow3{
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.img3{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq3{
    margin-top: 11px;
    margin-left: 20px;
    width: 365px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.metn3{
    margin-left: 19px;
    margin-top: 32px;
    width: 365px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.shadow4{
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.img4{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq4{
    margin-top: 11px;
    margin-left: 20px;
    width: 365px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.metn4{
    margin-left: 19px;
    margin-top: 32px;
    width: 365px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.shadow5{
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.img5{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq5{
    margin-top: 11px;
    margin-left: 20px;
    width: 365px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.metn5{
    margin-left: 19px;
    margin-top: 32px;
    width: 365px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.shadow6{
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.img6{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq6{
    margin-top: 11px;
    margin-left: 20px;
    width: 365px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.metn6{
    margin-left: 19px;
    margin-top: 32px;
    width: 365px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.shadow7{
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.img7{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq7{
    margin-top: 11px;
    margin-left: 20px;
    width: 365px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}
.metn7{
    margin-left: 19px;
    margin-top: 32px;
    width: 365px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
.shadow8{
    width: 399px;
    height: 328px;
    
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.img8{
    width: 100%;
    width: 399px;
    height: 160px;
}
.basliq8{
    margin-top: 13px;
    margin-left: 20px;
    width: 365px;
    height: 71px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 97%;
}
.metn8{
    margin-left: 19px;
    margin-top: 1px;
    width: 365px;
    height: 63px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}
}
@media(max-width:1279px) and (min-width:992px){
    .wrapper{
        position: relative;
        width: 834px;
        height: 3800px;
        background: #FFFFFF;
    }
    .main{
        margin-top: -7px;
        margin-left: 48.65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .change{
        margin-right: 21.43px;
        margin-top: 23.75px;
    }
    h1{
        margin-left: 70.08px;
        width: 524.15px;
        height: 53.86px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
    }
    .shadow{

        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img1{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq1{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
    }
    .metn1{
        margin-top: 18.53px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .shadow2{
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img2{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq2{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
    }
    .metn2{
        margin-top: 18.53px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .shadow3{
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img3{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq3{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
    }
    .metn3{
        margin-top: 18.53px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .shadow4{
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img4{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq4{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
    }
    .metn4{
        margin-top: 18.53px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .shadow5{
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img5{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq5{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
    }
    .metn5{
        margin-top: 18.53px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .shadow6{
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img6{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq6{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
    }
    .metn6{
        margin-top: 18.53px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .shadow7{
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img7{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq7{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 22.59px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
    }
    .metn7{
        margin-top: 18.53px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .shadow8{
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        display: flex;
        flex-direction: column;
    }
    .img8{
        width: 100%;
        width: 231.09px;
        height: 92.67px;
    }
    .basliq8{
        margin-left: 11.58px;
        margin-top: 6.37px;
        width: 211.4px;
        height: 41.12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 97%;
    }
    .metn8{
        margin-top: 0.58px;
        margin-left: 11px;
        width: 211.4px;
        height: 36.49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }

}
@media(max-width:991px) and (min-width:320px){
    .wrapper{
        width: 375px;
        height: 4524px;
        background: #FFFFFF;
    }
    .main{
        margin-top: -30px;
        margin-left: 95px;
    }
    .change{
        margin-top: 24.16px;
    }
    h1{
        margin-left: 34px;
        width: 421.7px;
        height: 43.34px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
    }
    .shadow{
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        display: flex;
        flex-direction: column;
    }
    .img1{
        width: 100px;
        width: 185.92px;
        height: 74.56px;
    }
    .basliq1{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 18.17px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
    }
    .metn1{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
    .shadow2{
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        display: flex;
        flex-direction: column;
    }
    .img2{
        width: 100%;
        width: 185.92px;
        height: 74.56px;
    }
    .basliq2{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 18.17px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
    }
    .metn2{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
    .shadow3{
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        display: flex;
        flex-direction: column;
    }
    .img3{
        width: 100%;
        width: 185.92px;
        height: 74.56px;
    }
    .basliq3{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 18.17px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
    }
    .metn3{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
    .shadow4{
        display: flex;
        flex-direction: column;
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }
    .img4{
        width: 100%;
        width: 185.92px;
        height: 74.56px;
    }
    .basliq4{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 18.17px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
    }
    .metn4{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
    .shadow5{
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        display: flex;
        flex-direction: column;
    }
    .img5{
        width: 100px;
        width: 185.92px;
        height: 74.56px;
    }
    .basliq5{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 18.17px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
    }
    .metn5{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
    .shadow6{
        display: flex;
        flex-direction: column;
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }
    .img6{
        width: 100px;
        width: 185.92px;
        height: 74.56px;
    }
    .basliq6{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 18.17px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
    }
    .metn6{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
    .shadow7{
        display: flex;
        flex-direction: column;
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }
    .img7{
        width: 100%;
        width: 185.92px;
        height: 74.56px;
    }
    .basliq7{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 18.17px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
    }
    .metn7{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }
    .shadow8{
        width: 185.92px;
        height: 152.84px;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        display: flex;
        flex-direction: column;
    }
    .img8{
        width: 185.92px;
        height: 74.56px;
        width: 100%;
    }
    .basliq8{
        margin-top: 5.13px;
        margin-left: 9.32px;
        width: 170.08px;
        height: 33.08px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 97%;
    }
    .metn8{
        margin-top: 14.91px;
        margin-left: 8.85;
        width: 170.08px;
        height: 29.36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }


}







